{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}

    {% block content %}
        <div class="container mt-5">
            <h1>Welcome {{app.user.nickname}} !</h1>

            {% for message in app.flashes('success') %}
            <div class="flash-notice alert alert-success w-50">
                {{ message }}
            </div>
            {% endfor %}

            <ul>
                <li><a href="{{path('account_password')}}">Change my infos</a></li>
                <li><a href="{{path('account_address')}}">Change my addresses</a></li>

                <li><h3> To do : </h3></li>
                <li>my orders</li>
            </ul>
            <hr>
        </div>
    {% endblock %}

{% endblock %}