{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}

    {% block content %}
        <div class="container mt-5">
            <h1>Welcome {{app.user.nickname}} !</h1>

            <ul>
                <li><h3> To do : </h3></li>
                <li>Update pw</li>
                <li>Add addresses</li>
                <li>my comments</li>
            </ul>
        </div>
    {% endblock %}

{% endblock %}
