{% extends 'base.html.twig' %}

{% block title %}Validate Order{% endblock %}

{% block body %}
    {% block content %}
        <div class="container mt-5">
            <h1>Orders</h1>
            <hr>

            <div class="row">
                <div class="col-md-6">
                   {{form(form)}}
                    <b>Choose Carrier</b>
                </div>
                <div class="col-md-6">
                    <b>Order details</b> <br>
                    <a href="" class="btn btn-success">Validate</a>
                </div>

            </div>
        </div>
    {% endblock %}
{% endblock %}
