{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

    {% block content %}
  <div class="container mt-5">
    <h2>This page is not avaiable</h2>
    <h4>go back to <a href=" {{path('home')}}">Website</a> </h4>
</div>
{% endblock %}
